
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#holder { border: 10px dashed #ccc; min-height: 300px; margin: 20px auto;}
#holder.hover { border: 10px dashed #0c0; }
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; }
.fail { background: #c00; padding: 2px; color: #fff; }
.block-label {
    display: block;
};
.report-content {
    font-size: 26px;
    padding: 55px;
}
@media screen and (max-width: 700px) {
    .report-content {
        font-size: 20px;
        padding: 25px;
    }
}
#thumb {
    max-width: 1100px;
    max-height: 1100px;
}
@media screen and (max-width: 768px) {
    #thumb {
        max-width: 400px;
        max-height: 400px;
    }
}

@media screen and (max-width: 992px) {
    #thumb {
        max-width: 530px;
        max-height: 530px;
    }
}

@media screen and (max-width: 1440px) {
    #thumb {
        max-width: 730px;
        max-height: 730px;
    }
}
